.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.06);
}

.modal-container {
  width: 400px;
  @include center;
  position: absolute;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.modal-header h3 {
  margin-top: 0;
  color: $darkBlue;
}

.modal-body {
  max-height: 50%;
  overflow-y: auto;
  vertical-align: middle;
}

.modal-body img {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-body table th {
  background: $darkBlue;
  color: white;
}

.modal-body table td:nth-child(1) {
  font-weight:bold;
}

.modal-body table td.user-has-ingredient {
  color: $darkBlue;
  font-weight: bold;
}

.modal-body table td.user-has-ingredient::after {
    font-family: 'Glyphicons Halflings';
    font-size: 1.2em;
    content: "\e089";
    color: green;
    float: right;
}