.pantry {
	padding: 40px;
}

.pantry .pantry-lookup {
	padding: 100px 0;
	text-align: center;
}

.pantry .pantry-header-wrapper {
	background-image: url('https://thumbs.dreamstime.com/z/food-cooking-banner-kitchen-utensils-vegeta…ed-tablecloth-wooden-table-preparation-healthy-eating-concept-51344323.jpg');
}

.pantry .pantry-header {
    color: white;
    float: right;
    width: 100%;
    text-align: right;
}

.pantry .pantry-description {
	background: #4b4b4b;
	color: white;
	padding: 15px 10px 15px 40px;
}

.pantry .pantry-description p {
	margin: 0 auto;
	text-align: center;
}

.pantry .pantry-filters {
	padding: 20px 0px 83px 0px;
	background: #666;
}

.pantry .pantry-filters .pantry-filters-row {
	padding-bottom: 5px;
}

@media only screen and (max-width : 720px) {
	.pantry .pantry-header {
		text-align: center;
	}
}
