*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background: #f0f3f3;
}

ul {
	list-style: none;
}

.table tr {
	border-bottom: 2px solid $darkBlue;
}

.table tr td, .table tr th {
  	padding: 5px;
}

nav li a {
	clear: left;
	text-align: center;
}

@media only screen and (max-width : 720px) {
	.navbar {
		margin: 0;
	}

	.navbar-nav {
		border: 1px black;
		margin: 0;
	}

	.navbar-nav>li>a {
		background: $darkBlue;
		color: white !important;
		&:hover {
			background: white;
			color: $darkBlue !important;
		}
	}

	

	.container {
		border-top: 0px !important;
	}
}