@import 'base';
@import 'general';
@import 'typography';

//Mixins
@import 'mixins/center';

//Modules
@import 'modules/button';
@import 'modules/card';
@import 'modules/modal';
@import 'modules/select';

//Pages
@import 'pages/pantry';

.container {
	background: #f8f8f8;
}

.search {
  margin-bottom: 5px;
  width:100%;
}

.row.filters {
  margin-bottom: 5px;
}

#recipe {
	margin-top: 10px;
	height: 400px;
}

.twitter-typeahead {
	width: 85%;
	max-width: 850px;
}

.list-group-ingredient {
	width: 50%;
	margin: 0 auto;
}